@font-face {
    src: url("Metal Slug Latino Regular.ttf") format("truetype");
    font-family: "Metal Slug Latino Regular";
}
* { 
	margin:0; 
	padding:0; 
/*	font-family: 'Metal Mania', monospace;*/
	font-family: "Metal Slug Latino Regular", serif;
	font-size: 30px;
}
html {
	height: 100%;
}
body { 
	height: 100%;
	margin: 0 auto;
	background-image: url('mainbackground.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: yellow;
	position: relative;
}
button {
	color: yellow;
}
h1 {
	font-size: 50px;
	margin-bottom: 10px;
}
h2 {
	font-size: 40px;
	margin-bottom: 10px;
}
h3 {
	font-size: 35px;
	margin-bottom: 10px;
}
.screen {
/*	width: 100%;*/
/*	height: 750px;*/
/*	height: 90vh;*/
	margin: 0 50px;
	text-align: center;
/*	background-image: url('Main.png');
    background-size: cover;*/
}
.sscreen {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    background: #eee;
    text-align: center;
    background-color: transparent;
}
.centered {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center;
}

#mainmenu {
	height: 100%;
}

#mainMenuButtonsDiv {
	position: relative;
	height: 100%;
}
.menuButtons {
	font-size: 50px;
/*	width: 200px;*/
	height: 50px;
	position: relative;
	color: yellow;
	background-color: transparent;
	border: none;
}
.menuButtons:hover {
	color: red;
}
/*.menuButtonDiv {
	display: flex;
}*/

#scoresBtn {
	margin-top: 35px;
	float: left;
}
#settingBtn {
	margin-top: 35px;
	float: right;
}
#titleImg {
	margin-top: 200px;
	margin-bottom: 60px;
}

#creditsBtn {
	margin-top: 20px;
	margin-bottom: 35px;
	position: absolute;
	right: 0;
	bottom: 0;
}

#settingScreen {
	position: relative;
	overflow: hidden;
}
#setting1 {
	float: left;
	width: 40%;
	height: 600px;
}
#setting2 {
	float: right;
	width: 50%;
	height: 600px;
}
#setting3 {
	display: block;
	width: calc(100vw - 100px);
	text-align: center;
	position: absolute;
	bottom: 50px;
}

/*배경*/
.thumbnail {
/*	display: inline-block;*/
	height: 110px;
	border: 2px solid transparent;
	padding: 3px;
}
.thumbnail:hover {
	border: 2px solid black;
}

.selectedThumbnail {
	border: 2px solid red;
}

/*캐릭*/
#player1Div {
	width: 280px;
}
#player2Div {
	width: 280px;
}
#player1Div {
	height: 500px;
	float: left;
	text-align: left;
}
#player2Div {
	height: 500px;
	float: right;
	text-align: left;
}
.characterThumbnail {
	width: 260px;
	height: 325px;
	object-fit: cover;
	margin: 3px;
	border: 2px solid transparent;
	padding: 5px;
}
.characterThumbnail:hover {
	border: 2px solid black;
}
.selectedCharacter {
	width: 260px;
/*	height: 200px;*/
	object-fit: cover;
	margin: 3px;
	border: 2px solid red;
	padding: 5px;
}

#life {
    position: relative;
    top: 750px;
    left: 20px;
    z-index: 1; /* 캔버스 위에 표시하기 위해 */
    margin-top: -80px; /* 상단 여백 조정 */
}
#life img {
    margin-right: 10px;
}
#score{
    font-family: "Metal Slug Latino Regular", sans-serif;
    font-size: 40px;
}

.gradient-text {
    background: linear-gradient(to top, #fb6222, #f4fb14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text-two {
    background: linear-gradient(to top, #cbc5fb, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.credits {
	display: flex; 
}


.backButton {
	width: 200px;
	height: 40px;
	background-color: transparent;
	border: none;
}
.backButton:hover {
	color: red;
}

.backButtonDiv {
	display: flex;
}

.clearScoresButton {
	width: 200px;
	height: 40px;
	background-color: transparent;
	border: none;
}
.clearScoresButton:hover {
	color: red;
}

.clearScoresDiv {
	display: flex;
}

.transparentBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pauseMenu {
	width: 350px;
	height: 250px;
	background-color: white;
	border: 3px solid black;
	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
}

.isHidden {
	display: none;
}

.confirmation {
/*	padding-top: 10px;*/
	text-align: center;
	width: 350px;
	height: 250px;
	background-color: white;
	border: 3px solid black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; 
}

.arrow {
	height: 40px;
}
.hidden {
  visibility: hidden;
}


.CharacterPreGame {
	height: 70px;
	object-fit: cover;
	margin: 3px;
	border: 2px solid transparent;
	padding: 5px;
}

#selectedCharacterDiv {
	display: flex;
	justify-content: center; 
	align-items: center;
}
.musicButton {
	width: 200px;
	height: 30px;
	background-color: transparent;
	border: none;
}
.musicButton:hover {
color: red;
}
.musicButton.active {
    color: red;
}


.bgmButtonDiv {
	display: flex;
	justify-content: center; 
	align-items: center;
}
.preSettings {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.smallArrow {
	height: 30px;
}

.gameStartButton {
	width: 200px;
	background-color: transparent;
	border: none;
	font-size: 35px;
}
.gameStartButton:hover {
	color: red;
}

.gameStartButtonDiv {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.credits {
	font-size: 30px;
	line-height: 1.5;
}


.gameRulesButton {
	width: 50px;
	margin-left: 10px;
	background-color: transparent;
	border: none;
}
.gameRulesButton:hover {
color: red;
}
.gameRulesButton.active {
    color: red;
}
#gameRulesOffButton {
	margin-left: 10px;
}


.gameStoryButton {
	width: 50px;
	margin-left: 10px;
	background-color: transparent;
	border: none;
}
.gameStoryButton:hover {
color: red;
}
.gameStoryButton.active {
    color: red;
}

#scoreTable {
	margin: 10px 0;
}
#scoreTable td {
	font-size: 20px;
}
#scoresScreen h3 {
	color: red;
}
#scoreTable th {
	width: 100px;
	border-bottom: 2px solid black;
}


.gameModeButton {
	width: 100px;
	background-color: transparent;
	border: none;
}
.gameModeButton:hover {
	color: red;
}
.gameModeButton.active {
    color: red;
}

.musicOnOffButton {
	width: 100px;
	background-color: transparent;
	border: none;
}
.musicOnOffButton:hover {
	color: red;
}
.musicOnOffButton.active {
    color: red;
}


.selectedPB {
	height: 40px;
	object-fit: cover;
}

#gameMode {
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
}
.gameModeDiv {
	margin-top: 10px;
	display: flex;
}



.settingName {
	width: 250px;
	text-align: left;
}
 
.backToMenuButton2 {
    font-family: "Metal Slug Latino Regular", sans-serif;
    display: none;
    margin: 10px auto;
}

.appear {
animation: fadein 0.1s;
}

.display {
animation: fadeout 2s;
}

@keyframes fadeout {
from {
	opacity: 1;
}
to {
	opacity: 0;
}
}

#backBtn {
width: 400px;
margin: 0 auto;
}
#gameRulesDiv {
width: 600px; 
display: flexbox;
}
#ControlDescription {
text-align: left;
width: 400px;
font-size: 20px !important; 
}
#SkillDescription {
float: right;
text-align: left;
width:400;
font-size: 20px !important; 
}
#SkillDescription img {
float: left;
width: 60px;
}
#S1 {
color: yellow;
}
#S2 {
color: skyblue;
}
#S3 {
color: green;
}
#S4 {
color: red;
}
#gameScreen {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px

}
#canvasWrapper {
    position: relative;
    width: 1200px;
    height: 800px;
    overflow: hidden; /* 이 영역 밖의 내용을 숨김 */
    border: 3px solid black;
}
canvas {
    display: block;
    background-color: rgba(250, 250, 250, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* 캔버스가 앞에 위치 */
}
#enemyContainer, #itemContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* 캔버스 위에 몬스터가 위치 */
}
#gamenav {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3; /* 캔버스 위에 표시하기 위해 */
    padding: 0 20px;
    box-sizing: border-box;
}
.sscreen {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    background: #eee;
    text-align: center;
    background-color: transparent;
}
#gameOverScreen {
    background-color: white;
    border: 3px solid black;
    margin: 0 auto; width: 600px;
    padding-top: ;
    height: 450px;
    animation: fadein 5s;
 }
#gameOverScreen h1 {
    font-family: "Metal Slug Latino Regular", sans-serif;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.gameScore {
    font-family: "Metal Slug Latino Regular", sans-serif;
    margin: 20px auto;
    font-size: 50px;
    width: 500px;
    height: 40px;
    position: relative;
}
.blink {
    visibility: hidden;
}

#timer {
    font-family: "Metal Slug Latino Regular", sans-serif;
    font-size: 40px;
    z-index: 3; /* 캔버스 위에 표시하기 위해 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    font-family: "Metal Slug Latino Regular", sans-serif;
    font-size: 50px;
}

#coin {
    font-family: "Metal Slug Latino Regular", sans-serif;
    font-size: 50px;
}

#life {
    top: 45px;
    left: -150px;

}

.pauseMenu {
	width: 350px;
	height: 250px;
	background-color: white;
	border: 3px solid black;
	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}